<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Lista de Contactos</title>
</head>

<body>
  <nav
    class="fixed top-0 left-0 right-0 flex flex-row justify-between h-20 items-center px-4">
    <p class="font-bold text-lg text-white">AgendaContactos</p>
    <div class="flex gap-4 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" id="menu-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-6 h-6 md:hidden">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <div id="menu-bar" class="fixed top-20 right-0 bottom-0 w-full hidden">
        <div class="absolute top-0 bottom-0 left-0 right-0 w-full bg-black bg-opacity-70 z-0">
        </div>

        <div id="menu-mobile"
          class="absolute top-0 bottom-0 right-0 bg-red-500 z-10 w-0 transition-all ease-in-out duration-300">
        </div>
      </div>
      <button id="logout-btn" class="hidden md:block">Cerrar sesion</button>
    </div>
  </nav>

   <form id="formulario" class="formulario">
    <h1 class="texto text-3xl font-bold">Agenda de Contactos</h1>
<!-- --------------INPUTS----------------- -->
    <div class="form-input">
      <input class="input" type="text" id="nombre" placeholder="Nombre" name="nombre" autocomplete="off" required="" >
    </div>
    <div class="form-input">
      <input class="input" type="text" id="telefono" placeholder=" Numero" name="telefono1" autocomplete="off" required="">
    </div>
<!-- ---------------BOTONES---------------- -->
    <button class="font-medium text-white bg-blue-500 hover:bg-blue-600" id="boton-crear" type="submit">Crear Contacto</button>
    <button  class="text-white bg-blue-500 hover:bg-blue-600" id="si-edit">Editar Contacto</button>

  <div id="formato-div">
  <p class="formato">EL NUMERO TIENE QUE SER: XXX-XXXXXXX</p>
  </div>
  <!-- -----------------LISTA---------------------- -->
  <div class="contenedor-lista">
    <h3 id="texto-contacto" class="text-base font-bold">Contactos</h3>
    <h3 id="texto-edit"  class="text-base font-bold" >Contacto</h3>
    <ul id="lista">
    </ul>
  </div>
  </form>
  <script src="index.js"></script>
</body>

</html>